<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script>
        $(document).ready(function () {
            $("button.btn").on("click", function () {
                $.ajax({
                    method: "GET",
                    url: "/scrape/"
                })
                alert("scrape complete")
                $.ajax({
                    method: "GET",
                    url: "/articles/"
                }).then(function (data) {
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i]);
                        $(".articles").append(
                            "<div class='card'>" +
                            "<h4>" + data[i].title + "</h4>" +
                            "<a href=" + data[i].link + ">Click Me</a>" + "<h5>" + data[i].summary + "</h5>" +
                            "</div>"
                        );
                    }


                })
            })
        })
    </script>

    <title>New York Times News Scraper</title>
</head>

<body>
    {{{body}}}
</body>

</html>