<div class="container">
    <nav class="navbar navbar-dark bg-primary">

        <p>News Scraper</p>
        <p>Home</p>
        <p>Saved Articles</p>
        <form action='/scrape'><button type="submit" class="btn btn-success">SCRAPE NEW ARTICLES!</button></form>
    </nav>

</div>
</div>

<div class="card text-black bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <div class="articles">
        <h5 class="title">Info card title</h5>
        <p class="card-text"></p>
    </div>
</div>


</div>