{{!-- <p>Headline: {{headline}}</p>
<p>Summary: {{summary}}</p>
<p>Link:{{link}}</p> --}}
<div class="container">
    <nav class="navbar navbar-dark bg-primary">
        <!-- Navbar content -->
        <p>News Scraper</p>
        <p>Home</p>
        <p>Saved Articles</p>
        <button type="button" class="btn btn-success">SCRAPE NEW ARTICLES!</button>
    </nav>

</div>
</div>